# Normalização dos dados
-----------------------------------------------------------------------------------------------------------------------------

# Bibliotecas Utilizadas

In [13]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # visualize
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
pd.set_option('display.max_columns', None)

# Carga do dataset original

In [14]:
st_port = pd.read_csv('student-por.csv', header = 0)
frames = [st_port]
dataset = pd.concat(frames, sort=False)
print("Length result dataset: {} rows".format(len(dataset)))

Length result dataset: 649 rows

In [15]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

# Cria a coluna is_approved

Esta coluna identifica se o aluno foi ou não aprovado na matéria
Conforme falamos, vamos criar uma nova coluna de aprovação x reprovação. 
Eu considerei a média da escola para definir se o aluno estaria aprovado ou reprovado.

In [16]:
for dataset in frames:
    ave = sum(dataset.G3)/float(len(dataset))
    dataset['is_approved'] = [1 if i > ave else 0 for i in dataset.G3]

In [17]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,is_approved
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12,1
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14,1
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13,1

# Remove as colunas G1, G2 e G3
Será utilizada a coluna is_approved

In [18]:
dataset.drop(['G1','G2','G3'], axis=1, inplace=True)

In [19]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,is_approved
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,1
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,1
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,1

In [20]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'is_approved'],
      dtype='object')

# Aplicar one-hot enconding nas colunas
'Medu','Fedu','Mjob','Fjob','reason','guardian'

In [21]:
# converte para binário
one_hot_columns = ['Medu','Fedu','Mjob','Fjob','reason','guardian']

dataset = dataset.copy()
dataset = pd.get_dummies(dataset, columns=['Medu','Fedu','Mjob','Fjob','reason','guardian'], 
                         prefix = ['Medu','Fedu','Mjob','Fjob','reason','guardian'])

In [22]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,is_approved,Medu_0,Medu_1,Medu_2,Medu_3,Medu_4,Fedu_0,Fedu_1,Fedu_2,Fedu_3,Fedu_4,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,GP,F,18,U,GT3,A,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
1,GP,F,17,U,GT3,T,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
2,GP,F,15,U,LE3,T,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
3,GP,F,15,U,GT3,T,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0
4,GP,F,16,U,GT3,T,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0

# Converte de nominal para binário

In [23]:
print("school: " , dataset.school.unique())
print("sex: " , dataset.sex.unique())
print("address: " , dataset.address.unique())
print("famsize: " , dataset.famsize.unique())
print("schoolsup: " , dataset.schoolsup.unique())
print("famsup: " , dataset.famsup.unique())
print("paid: " , dataset.paid.unique())
print("activities: " , dataset.activities.unique())
print("nursery: " , dataset.nursery.unique())
print("higher: " , dataset.higher.unique())
print("internet: " , dataset.internet.unique())
print("romantic: " , dataset.romantic.unique())
print("Pstatus: " , dataset.Pstatus.unique())

school:  ['GP' 'MS']
sex:  ['F' 'M']
address:  ['U' 'R']
famsize:  ['GT3' 'LE3']
schoolsup:  ['yes' 'no']
famsup:  ['no' 'yes']
paid:  ['no' 'yes']
activities:  ['no' 'yes']
nursery:  ['yes' 'no']
higher:  ['yes' 'no']
internet:  ['no' 'yes']
romantic:  ['no' 'yes']
Pstatus:  ['A' 'T']

In [24]:
dataset['school'] = dataset['school'].map( {'GP': 0, 'MS': 1} ).astype(int)
dataset['sex'] = dataset['sex'].map( {'F': 0, 'M': 1} ).astype(int)
dataset['address'] = dataset['address'].map( {'U': 0, 'R': 1} ).astype(int)
dataset['famsize'] = dataset['famsize'].map( {'GT3': 0, 'LE3': 1}).astype(int)
dataset['Pstatus'] = dataset['Pstatus'].map( {'A': 0, 'T': 1}).astype(int)

In [25]:
binary_columns = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery','higher', 'internet', 'romantic']

for c in binary_columns:
    dataset[c] = dataset[c].map( {'yes': 1, 'no': 0} ).astype(int)

In [26]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,is_approved,Medu_0,Medu_1,Medu_2,Medu_3,Medu_4,Fedu_0,Fedu_1,Fedu_2,Fedu_3,Fedu_4,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,0,0,18,0,0,0,2,2,0,1,0,0,0,1,1,0,0,4,3,4,1,1,3,4,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0
1,0,0,17,0,0,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,1,1,3,2,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0
2,0,0,15,0,1,1,1,2,0,1,0,0,0,1,1,1,0,4,3,2,2,3,3,6,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
3,0,0,15,0,0,1,1,3,0,0,1,0,1,1,1,1,1,3,2,2,1,1,5,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0
4,0,0,16,0,0,1,1,2,0,0,1,0,0,1,1,0,0,4,3,2,1,2,5,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0

# Aplica min-max nas colunas

In [27]:
dataset.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'is_approved', 'Medu_0',
       'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2',
       'Fedu_3', 'Fedu_4', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other'],
      dtype='object')

In [39]:
from sklearn import preprocessing

x = dataset.values  #returns a numpy array

min_max_scaler = preprocessing.MinMaxScaler()

x_scaled = min_max_scaler.fit_transform(x.astype(float))
dataset_normal = pd.DataFrame(x_scaled, columns=['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'traveltime',
                                   'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
                                   'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
                                   'goout', 'Dalc', 'Walc', 'health', 'absences', 'Medu_0',
                                   'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2',
                                   'Fedu_3', 'Fedu_4', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
                                   'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
                                   'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course',
                                   'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
                                   'guardian_mother', 'guardian_other', 'is_approved'])

# Temos um novo dataset normalizado: dataset_normal

In [41]:
print("Rows: {}".format(len(dataset)))
print("Columns: {}" .format(len(dataset.columns)))
dataset_normal.head()

Rows: 649
Columns: 52

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Medu_0,Medu_1,Medu_2,Medu_3,Medu_4,Fedu_0,Fedu_1,Fedu_2,Fedu_3,Fedu_4,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,is_approved
0,0.0,0.0,0.428571,0.0,0.0,0.0,0.333333,0.333333,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.75,0.50,0.75,0.00,0.00,0.5,0.1250,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.285714,0.0,0.0,1.0,0.000000,0.333333,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.00,0.50,0.50,0.00,0.00,0.5,0.0625,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,1.0,1.0,0.000000,0.333333,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.75,0.50,0.25,0.25,0.50,0.5,0.1875,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,1.0,0.000000,0.666667,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.50,0.25,0.25,0.00,0.00,1.0,0.0000,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.142857,0.0,0.0,1.0,0.000000,0.333333,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.75,0.50,0.25,0.00,0.25,1.0,0.0000,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

# Exporta a base normalizada

In [43]:
dataset_normal.to_csv("dataset-normalizado.csv", index=False)
print("Rows: {}".format(len(dataset)))
print("Columns: {}" .format(len(dataset.columns)))

Rows: 649
Columns: 52