# Seleção de Características - Matrix de Correlação

### Bibliotecas Utilizadas

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # visualize
import matplotlib.pyplot as plt

In [2]:
# Carga da base original
dataset = pd.read_csv('dataset/dataset-normalizado.csv', header = 0)

# Reordena colocando a coluna is_approved no final da tabela
dataset = dataset[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'Medu_0',
       'Medu_1', 'Medu_2', 'Medu_3', 'Medu_4', 'Fedu_0', 'Fedu_1', 'Fedu_2',
       'Fedu_3', 'Fedu_4', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Fjob_at_home', 'Fjob_health',
       'Fjob_other', 'Fjob_services', 'Fjob_teacher', 'reason_course',
       'reason_home', 'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other','is_approved']]

In [3]:
dataset.head()

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,...,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,is_approved
0,0.0,0.0,0.428571,0.0,0.0,0.0,0.333333,0.333333,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.285714,0.0,0.0,1.0,0.000000,0.333333,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,1.0,1.0,0.000000,0.333333,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,1.0,0.000000,0.666667,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.142857,0.0,0.0,1.0,0.000000,0.333333,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Criamos um dataset com a matriz de correlação

In [4]:
cor_matrix = dataset.corr()

In [5]:
cor_matrix.head()

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Medu_0,Medu_1,Medu_2,Medu_3,Medu_4,Fedu_0,Fedu_1,Fedu_2,Fedu_3,Fedu_4,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,is_approved
school,1.000000,-0.074955,0.169938,0.341657,0.034882,0.024030,0.258834,-0.133255,0.066856,-0.130498,-0.088460,-0.130125,-0.097932,-0.019349,-0.131382,-0.222993,0.074506,-0.036359,0.026008,0.037000,0.066006,0.026539,-0.053214,-0.155146,0.015466,0.267219,-0.030703,-0.072865,-0.137710,0.039071,0.153711,0.035784,-0.095597,-0.113548,0.176482,-0.067846,0.049607,-0.110469,-0.085061,0.118618,-0.063836,-0.057817,0.072556,-0.080695,0.119580,-0.112408,0.185319,-0.156975,0.055202,-0.050685,-0.000164,-0.201740
sex,-0.074955,1.000000,-0.038832,-0.011556,0.094361,0.051337,0.042508,-0.239972,0.065543,-0.119411,-0.137696,-0.002179,0.116368,-0.030492,-0.078775,0.062671,-0.108944,0.074725,0.181603,0.062530,0.275928,0.302623,0.141113,-0.013076,-0.039829,-0.047209,-0.066518,0.017183,0.098607,0.043794,-0.072239,-0.014981,0.031508,0.050867,-0.144979,0.017382,-0.016424,0.038162,0.132241,-0.064619,-0.027762,-0.009352,0.031428,0.046359,-0.017987,0.058480,0.026260,-0.057261,0.043723,-0.024757,-0.027853,-0.056897
age,0.169938,-0.038832,1.000000,0.071257,0.013290,0.006887,0.049216,-0.007870,0.282364,-0.202824,-0.116904,-0.027917,-0.073648,-0.046846,-0.244601,-0.033229,0.173800,0.007162,0.002645,0.118510,0.133453,0.098291,-0.029129,0.153196,0.028972,0.100437,0.005476,0.028000,-0.124238,0.003892,0.138560,-0.017109,-0.029265,-0.097211,0.089702,-0.093470,0.037066,-0.024883,-0.052402,0.065349,-0.106505,0.038894,0.001709,-0.061390,0.018524,-0.002368,0.006563,-0.023719,-0.126978,-0.081701,0.357601,-0.119925
address,0.341657,-0.011556,0.071257,1.000000,-0.054484,0.074097,0.343803,-0.037480,0.061160,-0.023583,-0.011975,-0.053024,0.022095,-0.031946,-0.074716,-0.194790,0.021209,0.016801,0.009744,-0.030790,0.064030,0.043391,0.010895,-0.036696,-0.010626,0.167946,0.019733,-0.025478,-0.139508,-0.010626,0.125518,0.025802,-0.109087,-0.047920,0.166054,-0.090991,0.040166,-0.093365,-0.061789,-0.017515,-0.068546,0.063121,-0.017784,-0.024419,0.068215,-0.161658,0.074252,0.031823,-0.027150,0.019957,0.009037,-0.146771
famsize,0.034882,0.094361,0.013290,-0.054484,1.000000,-0.207302,0.031550,-0.035109,-0.044589,-0.045552,-0.067340,-0.028290,-0.009434,0.101279,0.000650,0.008315,-0.007656,-0.005328,-0.007249,0.005889,0.075646,0.090019,-0.009147,0.018284,-0.014521,0.052168,-0.008028,-0.048949,0.010681,-0.037283,0.038962,0.045642,-0.064417,-0.018737,-0.004664,0.007552,-0.060404,0.029792,0.050327,0.034079,0.021480,0.016224,-0.002748,-0.078831,-0.008699,0.011608,-0.039076,0.026257,-0.011075,0.021165,-0.019775,0.015782

In [6]:
is_approved_cor = cor_matrix.iloc[-1:]

In [7]:
is_approved_cor

,school,sex,age,address,famsize,Pstatus,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Medu_0,Medu_1,Medu_2,Medu_3,Medu_4,Fedu_0,Fedu_1,Fedu_2,Fedu_3,Fedu_4,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,is_approved
is_approved,-0.20174,-0.056897,-0.119925,-0.146771,0.015782,-0.020654,-0.166189,0.185427,-0.340347,-0.087542,0.002145,0.012356,0.079499,0.031221,0.264599,0.131425,-0.031843,0.042696,-0.072704,-0.123274,-0.156545,-0.154645,-0.057315,-0.103385,-0.016651,-0.183589,-0.017975,-0.027364,0.205597,-0.016651,-0.16773,-0.016028,0.021998,0.175347,-0.195001,0.087435,-0.007414,0.070777,0.079329,-0.033133,0.030895,-0.02931,-0.024765,0.113797,-0.095249,0.037171,-0.05435,0.111371,0.047041,0.002482,-0.082422,1.0

In [8]:
is_approved_cor = is_approved_cor.transpose()

## Buscamos as 10 características com maior correlação com o *target*

In [9]:
fs_10_cor = is_approved_cor.nlargest(11, 'is_approved')[1:]

In [10]:
fs_10_cor

                   is_approved
higher                0.264599
Medu_4                0.205597
studytime             0.185427
Fedu_4                0.175347
internet              0.131425
Fjob_teacher          0.113797
reason_reputation     0.111371
Mjob_health           0.087435
activities            0.079499
Mjob_teacher          0.079329

In [11]:
sorted(fs_10_cor.axes[0].tolist(), key=lambda s: s.lower())

['activities',
 'Fedu_4',
 'Fjob_teacher',
 'higher',
 'internet',
 'Medu_4',
 'Mjob_health',
 'Mjob_teacher',
 'reason_reputation',
 'studytime']

## Criamos um novo dataset apenas com as características selecionadas e a coluna de target

In [16]:
fs_4_dataset = dataset[['activities',
 'Fedu_4',
 'Fjob_teacher',
 'higher',
 'internet',
 'Medu_4',
 'Mjob_health',
 'Mjob_teacher',
 'reason_reputation',
 'studytime',
 'is_approved']]

fs_4_dataset.head()

,activities,Fedu_4,Fjob_teacher,higher,internet,Medu_4,Mjob_health,Mjob_teacher,reason_reputation,studytime,is_approved
0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.333333,0.0
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.333333,0.0
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.333333,0.0
3,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.666667,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0

In [14]:
# plt.figure(figsize=(100, 100))
# sns.heatmap(dataset.corr(),
#             annot = True,
#             fmt = '.2f',
#             cmap='Blues')
# plt.title('Correlação entre variáveis do dataset')
# plt.show()